<% if !flash[:message].nil? %>
<% flash[:message].each do |message| %>
  <ul>
    <li><%= message %></li>
  </ul>
  <% end %>
  <% end %>


<h3>Please create your account below</h3>

<%= form_for @user do |f| %>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
  </br>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :street_address %></p>
  <p><%= f.text_field :street_address %></p>
  <p><%= f.label :city %></p>
  <p><%= f.text_field :city %></p>
  <p><%= f.label 'State' %></p>
  <p><%= f.collection_select :state, State.all, :id, :name %></p>
  <%= f.submit %>
<% end %>
