<h1>Welcome to your homepage!</h1>

<h3>Your information:</h3>

<ul>
  <li>Name: <%= @user.name %></li>
  <li>Address: <%= "#{@user.street_address}, #{@user.city}, #{@user.state.name}" %></li>
</ul>

<h3>Your Representatives</h3>

<table style="border:1px solid grey">
  <tr>
    <th></th>
    <th>Representative</th>
    <th>Senator 1</th>
    <th>Senator 2</th>
  </tr>
  <tr>
    <td>Picture:</td>
    <td><%= image_tag("#{@user.representative.image_name}",
    :alt => "#{@user.representative.image_name}") %></td>
    <td><%= image_tag("#{@user.senator1.image_name}",
    :alt => "#{@user.senator1.image_name}") %></td>
    <td><%= image_tag("#{@user.senator2.image_name}",
    :alt => "#{@user.senator2.image_name}") %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @user.representative.full_name %></td>
    <td><%= @user.senator1.full_name %></td>
    <td><%= @user.senator2.full_name %></td>
  </tr>
  <tr>
    <td>District/State:</td>
    <td><%= @user.district.name %></td>
    <td><%= @user.state.name %></td>
    <td><%= @user.state.name %></td>
  </tr>
  <tr>
    <td>Party Affiliation:</td>
    <td><%= @user.representative.party %></td>
    <td><%= @user.senator1.party %></td>
    <td><%= @user.senator2.party %></td>
  </tr>
  <tr>
    <td>Prior Experiene:</td>
    <td><%= @user.representative.prior_experience %></td>
    <td><%= @user.senator1.prior_experience %></td>
    <td><%= @user.senator2.prior_experience %></td>
  </tr>
  <tr>
    <td>Education:</td>
    <td><%= @user.representative.education %></td>
    <td><%= @user.senator1.education %></td>
    <td><%= @user.senator2.education %></td>
  </tr>
  <tr>
    <td>Age:</td>
    <td><%= @user.representative.age %></td>
    <td><%= @user.senator1.age %></td>
    <td><%= @user.senator2.age %></td>
  </tr>
  <tr>
    <td>In Office Since:</td>
    <td><%= @user.representative.representative_seat.held_since %></td>
    <td><%= @user.senator1.senate_seat.held_since %></td>
    <td><%= @user.senator2.senate_seat.held_since %></td>
  </tr>
  <tr>
    <td>Term Ends:</td>
    <td><%= @user.representative.representative_seat.term_ends %></td>
    <td><%= @user.senator1.senate_seat.term_ends %></td>
    <td><%= @user.senator2.senate_seat.term_ends %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @user.representative.email %></td>
    <td><%= @user.senator1.email %></td>
    <td><%= @user.senator2.email %></td>
  </tr>
  <tr>
    <td>Send Message</td>
    <td><%= link_to "Send Message", politician_path(@user.representative) %></td>
    <td><%= link_to "Send Message", politician_path(@user.senator1) %></td>
    <td><%= link_to "Send Message", politician_path(@user.senator2) %></td>
  </tr>

<!--     <tr>
    <td>Send Message</td>
    <td><a href="<%= politician_path(@user.representative) %>"><button>Send Message</button></a></td>
    <td><a href="<%= politician_path(@user.senator1) %>"><button>Send Message</button></a></td>
    <td><a href="<%= politician_path(@user.senator2) %> %>"><button>Send Message</button></a></td>
  </tr> -->
  <!--     t.string   "prior_experience"
    t.string   "education"
    t.integer  "birth_year"
    t.string   "email" -->
</table>