<p><%= image_tag("#{[@politician.first_name,@politician.last_name].join('_')}.jpg", 
		:alt => "#{[@politician.first_name,@politician.last_name].join('_')}_photo") %></p>
<h1><%= @politician.full_name %></h1>

<br>
<p>Approximate Age: <%= @politician.age %></p>
<p>Political Party: <%= @politician.party %></p>
<p>Prior Experience: <%= @politician.prior_experience %></p>
<p>Education: <%= @politician.education %></p>
<p>Email: <%= @politician.email %></p>
<p><%= @politician.senate_or_house %></p>