<h1><%= @politician.full_name %></h1>
<br>
<br>
<p>Approximate Age:<%= @politician.age %></p>
<p>Political Party:<%= @politician.party %></p>
<p>Prior Experience:<%= @politician.prior_experience %></p>
<p>Education:<%= @politician.education %></p>
<p>Email:<%= @politician.email %></p>
<p><%= @politician.senate_or_house %></p>