<!DOCTYPE html>
<html>
<head>
  <title>Know My Rep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
  <div class="container">

  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href=<%= user_path(User.find(session[:user_id]))%>>My Homepage</a></li>
    <li role="presentation"><a href="/login">Log In</a></li>
    <li role="presentation"><a href="/users/new">Sign Up</a></li>
    <li role="presentation"><a href="/politicians">Politicians</a></li>
  </ul>

  <%= yield %>

  </div>

</body>
</html>

