<!DOCTYPE html>
<html>
<head>
  <title>Know My Rep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
  <div class="container">

  <ul class="nav nav-pills">
  <% if !current_user.nil? %>
  <li role="presentation" class="active"><a href=<%= user_path(current_user)%>>My Homepage</a></li>
  <li role="presentation"><a href=<%= politicians_path%>>Politicians</a></li>
  <li role="presentation"><a href=<%= logout_path%>>Log Out</a></li>
  <% else %>  
    <li role="presentation"><a href=<%= register_path%>>Sign Up</a></li>
    <li role="presentation"><a href=<%= root_path%>>Log In</a></li>
  <% end %>
  </ul>

  <%= yield %>

  </div>

</body>
</html>

